*{
    padding: 0%;
    margin: 0%;
}

.main { 
    border: 1.6px solid black; 
    padding: 6px;
    margin: 15px;
    background-color: navy;
    border-radius: 8px;
} 


#screen td input{
    background-color: darkgray;
    text-align: right;
    margin-bottom: 6px;
    width: 83.55%;
}

input[type="button"] { 
    width: 100%; 
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 15px;
    font-size: 24px; 
    font-weight: bold; 
    border: none; 
    border-radius: 20px; 
    margin: 2px;
} 

input[type="button"]:hover{
    color: red;
}
      
input[type="text"] { 
    padding: 20px 30px; 
    font-size: 24px; 
    font-weight: bold; 
    border-radius: 5px; 
    border: 2px solid black; 
} 






















