*{
    padding: 0%;
    margin: 0%;
}
    #template { 
        border: 1.6px solid black; 
        margin-left: auto; 
        margin-right: auto;
    } 
    #template td{
        border: solid .8px;
        border-radius: 5px;
    }
      
    input[type="button"] { 
        width: 100%; 
        padding: 20px 40px; 
        font-size: 24px; 
        font-weight: bold; 
        border: none; 
        border-radius: 5px; 
    } 
      
    input[type="text"] { 
        padding: 20px 30px; 
        font-size: 24px; 
        font-weight: bold; 
        border-radius: 5px; 
        border: 2px solid black; 
    } 

